<template>
  <div id="app">
    <Login v-if="!authorized" :onAuth="onAuthorized"/>
    <div v-if="authorized">
      <Navbar :onLogout="onLogout" :user="user" />
      <el-row>
        <el-col :span="4">
          <Sidebar />
        </el-col>
        <el-col :span="20">
          <div class="app-content-wrapper">
            <router-view></router-view>
          </div>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>

import axios from 'axios';
import Login from './Login.vue';
import Navbar from './Navbar.vue';
import Sidebar from './Sidebar.vue';

export default {
  
  components: {
    Login,
    Navbar,
    Sidebar
  },

  data () {
    return {
      authorized: false,
      user: {}
    }
  },

  created() {
    axios.defaults.baseURL = 'http://localhost:3000/v1';
    const token = window.localStorage.getItem('chaos-token');    
    if (token) {
      this.activateToken(token);
      this.user = JSON.parse(window.localStorage.getItem('chaos-user'));
      this.authorized = true;
      console.log('resumed', token, 'user', this.user);
    }
  },

  methods: {
    activateToken(token) {
      axios.defaults.headers.common['Authorization'] = `Bearer ${token}`;
    },
    onAuthorized(user, token) {      
      window.localStorage.setItem('chaos-token', token);
      window.localStorage.setItem('chaos-user', JSON.stringify(user));            
      this.user = user;      
      this.authorized = true;
    },
    onLogout() {
      this.authorized = false;
      this.user = {};
      window.localStorage.removeItem('chaos-token');
      window.localStorage.removeItem('chaos-user');      
    }
  }
}
</script>

<style lang="sass">

@import './styles/styles';
@import 'styles/colors';

body {
  font-family: 'Roboto Condensed', sans-serif !important;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.app-content-wrapper {  
}

.header-add-button {
  margin-top: 30px;    
}

.app-content-wrapper table.table {
  width: 100%;

  thead {
    tr {
      th {
        border-bottom: $border;
        text-align: left;
        padding-left: 10px;
        font-size: 14px;
        height: 30px;
      }
    }
  }

  tbody {
    tr {
      td {
        border-bottom: $border;
        text-align: left;
        padding-left: 10px;
        height: 30px;
        font-size: 14px;

        a {
          text-decoration: none;
          font-weight: normal;
          color: $blue;
        }
      }

      &:hover td {
        background: $darkWhite;
      }
      
    }
  }
}
</style>
