<template>
  <div class="beacon-wrapper">
    <el-row>
      <el-col :span="1">&nbsp;</el-col>
      <el-col :span="22">
        <h1>{{ beacon.name }}</h1>
      </el-col>
      <el-col :span="1">&nbsp;</el-col>
    </el-row>
    <el-row>
      <el-col :span="1">&nbsp;</el-col>
      <el-col :span="12">
        <el-form ref="form" label-width="60px">
          <el-form-item label="Name">
            <el-input v-model="beacon.name"></el-input>
          </el-form-item>
          <el-form-item label="UUID">
            <el-input v-model="beacon.uuid"></el-input>
          </el-form-item>
          <el-form-item label="Major">
            <el-input v-model="beacon.major"></el-input>
          </el-form-item>
          <el-form-item label="Minor">
            <el-input v-model="beacon.minor"></el-input>
          </el-form-item>
        </el-form>        
      </el-col>
      <el-col :span="11">&nbsp;</el-col>      
    </el-row>
    <el-row>
      <el-col :span="1">&nbsp;</el-col>
      <el-col :span="6">
        <el-button type="danger" :plain="true" v-if="">Delete</el-button>
      </el-col>
      <el-col :span="6" align="right">
        <el-button type="primary" @click="save">Save</el-button>
      </el-col>
      <el-col :span="11">&nbsp;</el-col>
    </el-row>
  </div>
</template>

<script>

  import axios from 'axios';

  export default {
    name: 'Beacon',

    created() {
      const _this = this;

      this.$watch('$route', (route) => {
        _this.id = route.params.id;
        _this.fetch();
      });

      this.id = this.$route.params.id;
      this.fetch();
    },

    data: () => ({
      id: '',
      beacon: {
        name: 'New Beacon',
        uuid: '',
        major: '',
        minor: ''
      }
    }),

    methods: {
      fetch() {
        const _this = this;
        if (this.id !== 'new') {
          axios
            .get('/beacons/' + this.id)
            .then((response) => {
              _this.beacon = response.data;
            })
            .catch((error) => {
              _this.$message({
                message: 'Failed to load Beacon',
                type: 'error'
              });           
            })
        }
      },
      save() {
        const _this = this;
        let chain;
        if (this.id === 'new') {
          chain = axios.post('/beacons', this.beacon);
        } else {
          chain = axios.put('/beacons/' + this.id, this.beacon);
        }
        chain.then((response) => {          
          this.beacon = response.data;
          _this.$message({
            message: 'Beacon successfully saved',
            type: 'success'
          });           
        })
        .catch((error) => {
          _this.$message({
            message: 'Failed to load Beacon',
            type: 'error'
          });           
        });
      }
    }
  }
</script>

<style scoped>
</style>