<template>
  <div class="beacons-wrapper">
    <el-row>
      <el-col :span="1">&nbsp;</el-col>
      <el-col :span="11">
        <h1>Beacons</h1>
      </el-col>
      <el-col :span="11" align="right">
        <div class="header-add-button">
          <el-button @click="create" type="primary" icon="plus"></el-button>
        </div>
      </el-col>
      <el-col :span="1">&nbsp;</el-col>
    </el-row>
    <el-row>
      <el-col :span="1">&nbsp;</el-col>
      <el-col :span="22">
        <table class="table">
          <thead>
            <tr>        
              <th>#</th>
              <th>NAME</th>
              <th>UUID</th>
              <th>MAJOR</th>
              <th>MINOR</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="beacon, index in beacons" @click="click(beacon)">
              <td>{{ index +1 }}</td>
              <td><router-link :to="'/beacons/'+beacon.id"> {{ beacon.name }}</td>
              <td>{{ beacon.uuid }}</td>
              <td>{{ beacon.major }}</td>
              <td>{{ beacon.minor }}</td>
              <td>
                <el-button type="text" @click="destroy(beacon)" icon="delete2"></el-button>
              <td>
            </tr>
          </tbody>
        </table>
      </el-col>
      <el-col :span="1">&nbsp;</el-col>
    </el-row>    
  </div>
</template>

<script>

  import axios from 'axios';
  
  export default {
    name: 'Beacons',

    data: () => ({
      beacons: []
    }),

    mounted() {
      this.fetch();
    },

    methods: {
      create() {
        this.$router.push('/beacons/new');
      },
      click(beacon) {
        console.log('open', beacon)
      },
      destroy(beacon) {
        this.$confirm('This will permanently delete the beacon. Continue?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {          
          axios.delete('/beacons/' + beacon.id)
            .then((response) => {              
              this.$message({
                type: 'success',
                message: 'Delete successfull'
              });
              this.fetch();
            })
            .catch((error) => {
              this.$message({
                type: 'error',
                message: 'Delete failed'
              });
            });          
        }).catch(() => {
          this.$message({
            type: 'info',
            message: 'Delete canceled'
          });          
        });
      },
      fetch() {
        const _this = this;
        axios.get('/beacons')
          .then((response) => {
            _this.beacons = response.data;
          })
          .catch((error) => {
            this.$message({
              message: 'Beacon fetch action failed',
              type: 'warning'
            });
          });
      }
    }
  }
</script>

<style scoped lang="sass">
 
</style>
