<template>
  <div id="app" class="login">
    <el-row>
      <el-col :span="8">&nbsp;</el-col>
      <el-col :span="8">
        <div class="logo">  
          <img src="./assets/logo.png">
        </div>
        <h1>{{ msg }}</h1>
        <el-form ref="form" label-width="80px">
          <el-form-item label="Email">
            <el-input placeholder="Enter your email" v-model="email"></el-input>
          </el-form-item>
          <el-form-item label="Password">
            <el-input type="password" placeholder="Enter your password" v-model="password"></el-input>
          </el-form-item>
        </el-form>
        
        <el-row>
          <el-col :span="24" align="right">
            <el-button @click.native="submit">Login</el-button>
          </el-col>
        </el-row>
      </el-col>
      <el-col :span="8">&nbsp;</el-col>
    </el-row>        
  </div>
</template>

<script>

import axios from 'axios';

export default {

  props: {
    onAuth: {
      type: Function,
      default: (user, token) => {}
    }
  },

  data: () => ({
    msg: 'Welcome to ChaosAPP',
    email: '',
    password: ''
  }),

  methods: {
    submit() {
      const _this = this;
      const errors = [];
      if (this.email.length == 0) {
        errors.push("Email must be present.");
      }
      if (this.password.length == 0) {
        errors.push("Password must be present.");
      }

      if (errors.length == 0) {
        axios
          .post('/auth/login', {
            email: this.email,
            password: this.password
          })
          .then((response) => {            
            const auth = response.data;
            _this.onAuth(auth.user, auth.token);
          })
          .catch((error) => {
            _this.$message({
              message: 'Failed to login with supplied credentials',
              type: 'error'
            });           
          });
      } else {
        this.$message({
          message: errors.join(" "),
          type: 'warning'
        });
      }
    }
  }
}
</script>

<style>
body {
  font-family: Helvetica, sans-serif;
}

#app.login {
  margin: 0 auto;
  text-align: center;
}
#app.login .logo {
  margin: 50px auto;
}
</style>
