<template>
  <div class="navbar-wrapper">
    <el-row>
      <el-col :span="4">
        <div class="brand">ChaosApp</div>
      </el-col>
      <el-col :span="16">&nbsp;</el-col>
      <el-col :span="4" align="right">        
        <div style="logout-icon"><i @click="logout" class="logout navbar-link ion-ios-close-outline"></i></div>
      </el-col>
    </el-row>    
  </div>
</template>

<script>

  import Icon from 'vue-awesome/components/Icon.vue';
  import 'vue-awesome/icons';

  export default {    
    name: 'Navbar',
    components: {
      Icon
    },
    props: {
      onLogout: {
        type: Function,
        default: () => {}
      },
      user: {
        type: Object,
        default: () => {}
      }
    },
    data: () => ({}),
    methods: {      
      logout() {
        this.onLogout();
      }
    }
  }
</script>

<style scoped lang="sass">

  @import 'styles/colors';
  @import 'styles/styles';
  
  .navbar-wrapper {
    width: 100%;
    padding: 15px 0 10px 0;
    background: $grayLight;
    border-bottom: $border;
    overflow-y: hidden;

    .brand {
      color: #444;
      font-weight: bold;
      font-size: 18px;
      padding-left: 20px;
    }
    
    .navbar-link {
      color: $link;
      cursor: pointer;
      transition: $defaultTransition;
      &:hover {
        color: $linkHover;
      }
    }

    i.navbar-link {
      display: block;
    }

    .logout {
      margin-right: 20px;
      font-size: 22px;
    }

    .logout-title {
      float: left;
      text-align: right;
    }

    .logout-icon {
      width: 40px;
    }

  }

</style>