<template>
  <div class="sidebar-wrapper">
    <el-menu class="el-menu-vertical-demo" default-active="2" @open="handleOpen" @close="handleClose" @select="handleSelect">
      <el-submenu index="1">
        <template slot="title"><i class="el-icon-message"></i>Example Tree</template>
        <el-menu-item-group title="Group One">
          <el-menu-item index="1-1">item one</el-menu-item>
          <el-menu-item index="1-2">item one</el-menu-item>
        </el-menu-item-group>        
        <el-menu-item-group title="Group Two">
          <el-menu-item index="1-3">item three</el-menu-item>
        </el-menu-item-group>
        <el-submenu index="1-4">
          <template slot="title">item four</template>
          <el-menu-item index="1-4-1">item one</el-menu-item>
        </el-submenu>
      </el-submenu>
      <el-menu-item :index="KEY_WELCOME"><i class="el-icon-menu"></i>Welcome</el-menu-item>
      <el-menu-item :index="KEY_BEACONS"><i class="el-icon-setting"></i>Beacons</el-menu-item>
      <el-menu-item :index="KEY_USERS"><i class="el-icon-setting"></i>Users</el-menu-item>
    </el-menu>
  </div>
</template>

<script>
  
  import $ from 'jquery';

  export default {
    name: 'Sidebar',
    created() {
      const _this = this;

      this.KEY_WELCOME = '2';
      this.KEY_BEACONS = '3';
      this.KEY_USERS = '4';

      $(window).on('resize', (evt) => {
        _this.fixHeight();
      });
    },
    mounted() {
      this.fixHeight();
    },
    methods: {
      fixHeight() {
        const navbarHeight = 50;
        const height = $(window).height() - navbarHeight;
        $(this.$el).height(height);
      },
      handleSelect(key, keyPath) {
        console.log(key, keyPath);
        if (key == this.KEY_WELCOME) {
          this.$router.push('/');          
        }

        if (key == this.KEY_BEACONS) {
          this.$router.push('/beacons');
        }

        if (key == this.KEY_USERS) {
          this.$router.push('/users');
        }
      },
      handleOpen(key, keyPath) {
        console.log(key, keyPath);
      },
      handleClose(key, keyPath) {
        console.log(key, keyPath);
      }
    }
  }
</script>

<style scoped lang="sass">

  @import 'styles/colors';
  
  .sidebar-wrapper {
    border-right: 1px solid $gray;
    background: $grayLight;
    height: 100%;
  }
</style>