<template>
  <div class="users-wrapper">
    <el-row>
      <el-col :span="1">&nbsp;</el-col>
      <el-col :span="11">
        <h1>Users</h1>
      </el-col>
      <el-col :span="11" align="right">
        <div class="header-add-button">
          <el-button @click="create" type="primary" icon="plus"></el-button>
        </div>
      </el-col>
      <el-col :span="1">&nbsp;</el-col>
    </el-row>
    <el-row>
      <el-col :span="1">&nbsp;</el-col>
      <el-col :span="22">
        <table class="table">
          <thead>
            <tr>        
              <th>#</th>
              <th>NAME</th>
              <th>EMAIL</th>
              <th>CREATED AT</th>
              <th>UPDATED AT</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="user, index in users">
              <td>{{ index + 1 }}</td>
              <td><router-link :to="'/users/'+user.id"> {{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ formatDate(user.createdAt) }}</td>
              <td>{{ formatDate(user.updatedAt) }}</td>
              <td>
                <el-button type="text" @click="destroy(user)" icon="delete2"></el-button>
              <td>
            </tr>
          </tbody>
        </table>
      </el-col>
      <el-col :span="1">&nbsp;</el-col>
    </el-row>    
  </div>
</template>

<script>
  import moment from 'moment';
  import axios from 'axios';
  
  export default {
    name: 'Users',

    data: () => ({
      users: []
    }),

    mounted() {
      this.fetch()
    },

    methods: {
      formatDate(date) {
        return moment(date).format('DD.MM.YY hh:mm');
      },
      create() {
        this.$router.push('/users/new');
      },      
      destroy(user) {
        const _this = this;
        this.$confirm('This will permanently delete the user. Continue?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          axios.delete('/users/' + user.id)
            .then((response) => {              
              this.$message({
                type: 'success',
                message: 'Delete successfull'
              });
              this.fetch();
            })
            .catch((error) => {
              this.$message({
                type: 'error',
                message: 'Delete failed'
              });
            });          
        }).catch(() => {
          this.$message({
            type: 'info',
            message: 'Delete canceled'
          });          
        });
      },
      fetch() {
        const _this = this;
        axios.get('/users')
          .then((response) => {
            _this.users = response.data;
          })
          .catch((error) => {
            this.$message({
              message: errors.join(" "),
              type: 'warning'
            });
          });
      }
    }
  }
</script>

<style scoped>
</style>