<template>
  <div class="user-wrapper">
    <el-row>
      <el-col :span="1">&nbsp;</el-col>
      <el-col :span="22">
        <h1>{{ user.name }}</h1>
      </el-col>
      <el-col :span="1">&nbsp;</el-col>
    </el-row>
    <el-row>
      <el-col :span="1">&nbsp;</el-col>
      <el-col :span="12">
        <el-form ref="form" label-width="160px">
          <el-form-item label="Name">
            <el-input v-model="user.name"></el-input>
          </el-form-item>
          <el-form-item label="Email">
            <el-input v-model="user.email"></el-input>
          </el-form-item>
          <el-form-item label="Password">
            <el-input type="password" v-model="password"></el-input>
          </el-form-item>
          <el-form-item label="Password Confirmation">
            <el-input type="password" v-model="passwordConfirmation"></el-input>
          </el-form-item>
        </el-form>        
      </el-col>
      <el-col :span="11">&nbsp;</el-col>      
    </el-row>
    <el-row>
      <el-col :span="1">&nbsp;</el-col>
      <el-col :span="6">
        <el-button type="danger" :plain="true" v-if="">Delete</el-button>
      </el-col>
      <el-col :span="6" align="right">
        <el-button type="primary" @click="save">Save</el-button>
      </el-col>
      <el-col :span="11">&nbsp;</el-col>
    </el-row>
  </div>
</template>

<script>

  import axios from 'axios';

  export default {
    name: 'user',

    created() {
      const _this = this;

      this.$watch('$route', (route) => {
        _this.id = route.params.id;
        _this.fetch();
      });

      this.id = this.$route.params.id;
      this.fetch();
    },

    data: () => ({
      id: '',
      user: {
        name: 'New user',
        email: ''
      },
      password: '',
      passwordConfirmation: ''
    }),

    methods: {
      fetch() {
        const _this = this;
        if (this.id !== 'new') {
          axios
            .get('/users/' + this.id)
            .then((response) => {
              _this.user = response.data;              
            })
            .catch((error) => {
              _this.$message({
                message: 'Failed to load user',
                type: 'error'
              });           
            })
        }
      },
      validates() {
        const errors = [];
        
        if (this.user.name.length == 0) {
          errors.push("Name cannot be blank");
        }

        if (this.user.email.length == 0) {
          errors.push("Email cannot be blank");
        }

        if (this.password.length > 0 && this.password !== this.passwordConfirmation) {
          errors.push("Password must match confirmation");
        }

        if (errors.length > 0) {
          this.$message({
            type: 'warning',
            message: errors.join(" ")
          });
        }        
        return errors.length == 0;
      },
      save() {
        const _this = this;
        if (this.validates()) {

          // we want to deep clone the user object when we will add properties
          const data = JSON.parse(JSON.stringify(this.user));

          // only add password if changed & confirmed
          if (this.password.length > 0) {
            data.password = this.password;
          }

          let chain;

          if (this.id === 'new') {
            chain = axios.post('/users', data);
          } else {
            chain = axios.put('/users/' + this.id, data);
          }

          chain.then((response) => {
            this.user = response.data;
            _this.$message({
              message: 'user successfully saved',
              type: 'success'
            });
          })
          .catch((error) => {
            _this.$message({
              message: 'Failed to load user',
              type: 'error'
            });
          });
        }
      }
    }
  }
</script>

<style scoped>
</style>