<template>
  <div class="welcome-wrapper">
    <el-row>
      <el-col :span="1">&nbsp;</el-col>
      <el-col :span="22">
        <h1>Welcome!</h1>
      </el-col>
      <el-col :span="1">&nbsp;</el-col>
    </el-row>
  </div>
</template>

<script>
  export default {
    name: 'Welcome'
  }
</script>

<style scoped>
</style>